$user-0: #E60012;
$user-1: #FCC800;
$user-2: #8FC31F;
$user-3: #009B6B;
$user-4: #00A0E9;
$user-5: #00479D;
$user-6: #920783;
$user-7: #E5006A;

$user-colors: (
  0: #E60012, 
  1: #FCC800,
  2: #8FC31F,
  3: #009B6B,
  4: #00A0E9,
  5: #00479D,
  6: #920783,
  7: #E5006A
);